a:hover{
	cursor: pointer;
}

body{
	background-color: #F0F0F0;
}

.kanan table{
  width: 100%;
}

.menuwrapper{
	width: 90%;
	background-color: #FFFFFF;
	border-radius: 2px;
  	transition: all 500ms ease-out;
	margin-top: 20px;
	border-radius: 2px !important;
	padding-bottom: 50px;
}

.menuwrapper:hover{
box-shadow: 0 0px 20px rgba(120,120,120, 0.3) !important;
  	-moz-box-shadow: 0 0px 20px rgba(120,120,120, 0.3) !important;
}

.box{
	background-color: #FFFFFF;
	border-radius: 2px;
	padding: 14px;
	box-sizing: border-box;
  	transition: all 500ms ease-out;
}

.box:hover{
	box-shadow: 0 0px 20px rgba(120,120,120, 0.3) !important;
  	-moz-box-shadow: 0 0px 20px rgba(120,120,120, 0.3) !important;
}

.box-1 [class*="col-"]{
	text-align: left;
}

.box-1 [class*="col-"] .menuiconsmall{
	font-size: 12px;
}

.box-1{
	height: 120px;
}

.box-2{
	text-align: left;
	margin-top: 10px;
}

.box-2 a{
	font-size: 12px;
	color: #5A5A5A;
}

.menuwrapper a{
	color: #5A5A5A;
}

.menuwrapper .row .col-md-2{
	padding: 40px;
	min-height: 170px;
	height: 170px;
	float: left;
}

.menuwrapper .row .col-md-2 img{
	max-width: 90%;
	width: 90%;
	margin-bottom: 10px;
}

.menuwrapper .row .col-md-2 img:hover{
	opacity: 0.9;
}

.top_menu_lost_focus, .top_menu_on_select{
	border-radius: 20px;
    border-bottom: #fff;
    color: #fff;
  	transition: all 250ms ease-out;
}

.top_menu_on_select{
	background-color: #FFAA2A;
  transition: all 250ms ease-out;
}

.top_menu_lost_focus{
	background-color: #787878;
  transition: all 250ms ease-out;
}

.top_menu_lost_focus:hover, .top_menu_on_select:hover{
	box-shadow: 0 0px 20px rgba(120,120,120, 0.3) !important;
  	-moz-box-shadow: 0 0px 20px rgba(120,120,120, 0.3) !important;
}

form[name=form_pilih_menu]{
	margin-top: 20px;
}

.svg{
	fill: #FFAA2A;
	width: 100%;
	height: 80%;
	margin-bottom: 20px;
	clear: both;
  	transition: all 250ms ease-out;
}

.svgsmall{
	fill: #FFAA2A;
	clear: both;
  	transition: all 250ms ease-out;
	width: 40px; height: 40px; padding: 0px; margin: 0px;
}

.svg:hover, .svgsmall:hover{
	fill: #787878;
}

.svgdialog{
  fill: #FFAA2A;
  clear: both;
  transition: all 250ms ease-out;
  width: 70px; height: 70px; padding: 0px; margin: 10px; margin-bottom: 3px;
}

.svg:hover, .svgdialog:hover{
  fill: #787878;
}

.menuicon, .menuiconsmall{
  	transition: all 250ms ease-out;
}

.menuicon:hover{
	margin-top: -5px;
}

.menuiconsmall:hover{
	margin-top: -4px;
}

.layout_kursi_head{
	font-size: 14px; 
	width:100%;
	min-height:70px; 
	text-align: left;
	padding-left: 10px;
}

.table-reservasi{
	margin-top: 8px;
}

.table-reservasi select, input, textarea{
	margin-top: 3px;
}

.sectiontitle{
	text-align: center; display: block; margin: 0 auto;
}

label{
	border: none;
}

.manifest_img{
	width: 100%; max-width: 100%; position: absolute; left: 0;
	top: 0;
}

.img_keterangan{
	max-width: 40px;
}



/* Base Button Style */
.mybutton {
  position: relative;
  display: block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  transform-style: flat;
  transition: all 250ms ease-out;
}
.mybutton:before, .mybutton:after {
  content: "";
  position: absolute;
  z-index: -2;
  transition: all 500ms ease-out;
}

.mybutton:hover{
	border-radius: 20px;
	color: white !important;
}

/* Paper effect – slightly raised off background */
.paper:hover {
box-shadow: 0 0px 20px rgba(120,120,120, 0.3) !important;
  	-moz-box-shadow: 0 0px 20px rgba(120,120,120, 0.3) !important;
  border-color: #dedede;
}

/* Lift effect – lifts sides on hover */
.paper-lift:before, .paper-lift:after {
  bottom: 15px;
  width: 50%;
  height: 20%;
  max-width: 300px;
  max-height: 100px;
box-shadow: 0 0px 20px rgba(120,120,120, 0.3) !important;
  	-moz-box-shadow: 0 0px 20px rgba(120,120,120, 0.3) !important;
}
.paper-lift:before {
  left: 8px;
  transform: rotate(-3deg);
}
.paper-lift:after {
  right: 8px;
  transform: rotate(3deg);
}
.paper-lift:hover {
  border-color: transparent;
}
.paper-lift:hover:before, .paper-lift:hover:after {
box-shadow: 0 0px 20px rgba(120,120,120, 0.3) !important;
  	-moz-box-shadow: 0 0px 20px rgba(120,120,120, 0.3) !important;
}
.paper-lift:hover:before {
  left: 10px;
}
.paper-lift:hover:after {
  right: 10px;
}

.button-close{
	padding: 15px; float: right;
	border-top-right-radius: 2px;
}

.button-close:hover{
	border-radius: 0 !important;
	border-top-right-radius: 2px !important;
}

.dialog{
	border-radius: 2px;
box-shadow: 0 0px 20px rgba(120,120,120, 0.3) !important;
  	-moz-box-shadow: 0 0px 20px rgba(120,120,120, 0.3) !important;
}

.kode_jadwal{
	position: relative;
	margin-bottom: 15px;
}

.kode_jadwal::after{
	content: "";
	position: absolute;
	background: #FFAA2A;
	width: 30px;
	height: 1px;
	top: 24px;
	left: 44%;
}

.mytd{
	padding-bottom: 10px;
}

.td-title{
	font-size: 14px;
}

.action{
	margin-right: 10px;
}

textarea{
	resize: none;
}

.pad10{
	padding: 10px;
}

.pad510{
	padding: 5px 10px;
}

.mar10{
	margin: 10px !important;
}

.martop10{
	margin-top: 10px;
}

.pad20{
	padding: 20px;
}

.pad102{
	padding-left: 10px;
	padding-bottom: 5px;
}

.judulhalaman{
	width: 100%; margin-top: 10px;
}

td.judulhalaman{
	padding-bottom: 10px;
}

.center{
	text-align: center;
}

.orange{
	color: #FFAA2A;
}

.searchwrapper{
	margin-bottom: 20px;
	padding: 0;
}

.searchwrapper [class*="col-"]{
	padding: 5;
}

.mysearch{
	width: 100%; margin-top: 21px; height: 35px;
}

.lineheight{
 	line-height: 25px;
}

.left{
	text-align: left;
}

.bannerjudulw{
	padding-left: 0; padding-top: 20px;
}

.bannerjudulw .bannerjudul{
	font-size: 20px !important;
}

.topwidth{
	width: 100%; margin-top: 14px; 
	min-height: 34px;
}

.formmm .checkbox{
	float: right;
	display: block; margin-right: 10px;
	padding-top: 20px;
}

.formmm .checkbox label input{
	margin-top: 0px !important;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

#breadcrumb {
  list-style: none;
  display: inline-block;
  padding: 0;
}
#breadcrumb .icon {
  font-size: 14px;
}
#breadcrumb li {
  float: left;

}

#breadcrumb li a {
  color: #FFAA2A;
  display: block;
  background: #fff;
  text-decoration: none;
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0 10px 0 5px;
  text-align: center;
  margin-right: 24px;
  font-weight: 600;
  transition: all 350ms ease-in;
  -webkit-transition: all 350ms ease-in;
  -moz-transition: all 350ms ease-in;
}
#breadcrumb li:nth-child(even) a {
  background-color: #fff;
}
#breadcrumb li:nth-child(even) a:before {
  border-color: #fff;
  border-left-color: transparent;
}
#breadcrumb li:nth-child(even) a:after {
  border-left-color: #fff;
}
#breadcrumb li:first-child a {
  padding-left: 15px;
  -moz-border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  border-radius: 5px !important;

  margin-right: 22px;
}
#breadcrumb li:first-child a:before {
  border: none;

}
#breadcrumb li:last-child a {
  padding-right: 15px;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0;
  border-radius: 0 5px 5px 0;
  background: #FFAA2A;
  color: #fff;
}
#breadcrumb li:last-child a:before {
  border-color: #FFAA2A;
  border-left-color: transparent;
}

#breadcrumb li:last-child a:after {
  border: none;
}
#breadcrumb li a:before, #breadcrumb li a:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #3498db;
  border-width: 20px 10px;
  width: 0;
  height: 0;  transition: all 350ms ease-in;
  -webkit-transition: all 350ms ease-in;
  -moz-transition: all 350ms ease-in;
}
#breadcrumb li a:before {
  left: -20px;
  border-left-color: transparent;
}

#breadcrumb li a:after {
  left: 100%;
  border-color: transparent;
  border-left-color: #fff;
}

#breadcrumb li:first-child a:after{
  left: 97%;
}

#breadcrumb li a:hover {
  background-color: #FFAA2A;
  color: #fff;
}
#breadcrumb li a:hover:before {
  border-color: #FFAA2A;
  border-left-color: transparent;
}

#breadcrumb li:last-child a:hover{
  background: #fff;
  color: #FFAA2A;
}

#breadcrumb li:last-child a:hover:before {
  border-color: #fff;
  border-left-color: transparent;
}

#breadcrumb li a:hover:after {
  border-left-color: #FFAA2A;
}
#breadcrumb li a:active {
  background-color: #16a085;
}
#breadcrumb li a:active:before {
  border-color: #16a085;
  border-left-color: transparent;
}
#breadcrumb li a:active:after {
  border-left-color: #16a085;
}