<div>
  <!-- BEGIN LISTKOTA -->
    <div class="rsvnonreglistkota" onclick="expandKota('{LISTKOTA.kodekota}');">{LISTKOTA.namakota}</div>
    <!-- BEGIN LISTJADWAL -->
    <div class="{LISTKOTA.LISTJADWAL.class}" onclick="{LISTKOTA.LISTJADWAL.action};">{LISTKOTA.LISTJADWAL.jamberangkat} {LISTKOTA.LISTJADWAL.kodejadwal}</div>
    <!-- END LIST_JADWAL -->
  <!-- END LISTKOTA -->
</div>