<span>
	<table width='100%' cellspacing='2' cellpadding='0' border=0>
    <tr valign='center'>
      <td class='layout_kursi'>
        <div id='rewrite_kursi1'>
        {KURSI_1}
        </div>
      </td>
      <td class='layout_kursi'>
        &nbsp;
      </td>
      <td class='kursi_sopir'>
        <div class='kursi_nama'>{NAMA_SOPIR}</div>
      </td>
    </tr>
    <tr valign='center'>
      <td class='layout_kursi'>
        <div id='rewrite_kursi2'>
        {KURSI_2}
        </div>
      </td>
      <td class='layout_kursi'>
        <div id='rewrite_kursi3'>
        {KURSI_3}
        </div>
      </td>
      <td class='layout_kursi'>
        <div id='rewrite_kursi4'>
        {KURSI_4}
        </div>
      </td>
    </tr>
    <tr valign='center'>
      <td class='layout_kursi'>
        <div id='rewrite_kursi5'>
        {KURSI_5}
        </div>
      </td>
      <td class='layout_kursi'>
        <div id='rewrite_kursi6'>
        {KURSI_6}
        </div>
      </td>
      <td class='layout_kursi'>
        <div id='rewrite_kursi7'>
        {KURSI_7}
        </div>
      </td>
    </tr>
    <tr valign='center'>
      <td class='layout_kursi'>
        <div id='rewrite_kursi8'>
        {KURSI_8}
        </div>
      </td>
      <td class='layout_kursi'>
        <div id='rewrite_kursi9'>
        {KURSI_9}
        </div>
      </td>
      <td class='layout_kursi'>
        <div id='rewrite_kursi10'>
        {KURSI_10}
        </div>
      </td>
    </tr>
  </table>
</span>
