<SCRIPT LANGUAGE="JavaScript">

function Start(page) {
	OpenWin = this.open(page, "CtrlWindow", "toolbar=no,menubar=yes,location=yes,scrollbars=no,resizable=yes");
}
</SCRIPT>

<div class="container">
	<div class="row">
		<div class="col-md-12 box">
			<div class="table-responsive">
			<table width="100%" cellspacing="0" cellpadding="0">
			<tr>
			 <td class="" valign="middle" align="center">		
					<table width="100%" cellspacing="0" cellpadding="0">
						<tr class='' height=40>
							<td align='center' colspan=3 valign='middle' class="bannerjudul">&nbsp;Pengumuman</td>
						</tr>
					</table>
					<br>
					<table width='100%' class="table table-hover table-bordered">
			    <tr>
			       <th width=30>No</th>
						 <th width=100>Tanggal</th>
						 <th width=100>Kode</th>
						 <th width=200>Judul Pengumuman</th>
						 <th width=300>Pengumuman</th>
						 <th width=200>Pembuat</th>
			     </tr>
			     <!-- BEGIN ROW -->
			     <tr class="{ROW.odd}">
			       <td><div align="right">{ROW.no}</div></td>
			       <td><div align="left">{ROW.tanggal}</div></td>
			       <td><div align="left">{ROW.kode}</div></td>
						 <td><div align="left">{ROW.judul}</div></td>
			       <td><div align="left">{ROW.pengumuman}</div></td>
						 <td><div align="left">{ROW.pembuat}</div></td>
			     </tr>  
			     <!-- END ROW -->
					 {NO_DATA}
			    </table>
			 </td>
			</tr>
			</table>
			</div>
		</div>
	</div>
</div>
