
.text, .text:disabled, .text-warning, .correct, .select, .checkbox
{
	background: #f5f1f1;
	border:1px solid #ccc;
    padding-left: 3px;
    padding-top:3px;
    padding-bottom:3px;
    font-size: 11px;
    color: #474646;
}
.text:disabled { background: #ccc; }
.text-warning { background: #ff0000; color: #fcf922; }
.correct { background: #e7ffad; }
.select { min-width: 150px; }

#FormContainer {
	background: #f5f4f4;
	padding: 10px;
	border: 1px solid #ccc;
	color: #474646;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-border-radius: 5px;
}

#FormContainer fieldset { border: solid 1px #c2c0c0; padding: 10px; }
#FormContainer legend { font-weight: bold; padding-top: 5px; }
#FormContainer label { line-height: 25px; color: #474646; }
#FormContainer .error { color:#ff0000; }
#FormContainer .errormsg { background-color: #ff0000; color: #fff; width: 300px; padding:5px; }
#FormContainer a {color: #474646; text-decoration: underline; }
#FormContainer a:hover { text-decoration:none; }