<table width="95%" class="border" cellspacing="1" cellpadding="4" border="0">
<tr>
 <th align='left'>Welcome {USERNAME},</th>
</tr>
<tr>
 <td align='left' class="indexer">{BCRUMP}</td>
</tr>
<tr>
 <td class="whiter" valign="middle" align="center">
    <table width='80%' class="border">
    <tr>
       <th>#</th><th>Complain</th><th>User</th><th>Tanggal</th><th>Action</th>
     </tr>
     <!-- BEGIN ROW -->
     <tr>
       <td class="{ROW.odd}">{ROW.no}</td>
       <td class="{ROW.odd}">{ROW.complain}</td>
       <td class="{ROW.odd}">{ROW.user}</td>
       <td class="{ROW.odd}">{ROW.tanggal}</td>
       <td class="{ROW.odd}">{ROW.action}</td>
     </tr>  
     <!-- END ROW -->
    </table>
 </td>
</tr>
</table>