<table class="borderline" width="100%" cellspacing="1" cellpadding="3" border="0">
<tr><th class="headerline" valign="middle"><span class="whiteTitle">{MESSAGE_TITLE}</span></th></tr>
<tr><td align="center">
	<span class="gen">
	<br /><span class="normal">{MESSAGE_TEXT}</span><br />
	<br />
	<div id="subnavcontainer">
	<ul id="subnavlist">
	<li><a href="{U_NO}">&nbsp;Tidak&nbsp;</a></li>		
	<li><a href="{U_YES}">&nbsp;&nbsp;&nbsp;&nbsp;Ya&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
	</div>
</td></tr></table>