<table width="95%" class="border" cellspacing="1" cellpadding="4" border="0">
<tr>
 <th align='left'>Welcome {USERNAME},</th>
</tr>
<tr>
 <td align='left' class="indexer">{BCRUMP}
</td>
</tr>
<tr>
 <td class="whiter" valign="middle" align="center">
    <form action="{U_KEBERANGKATAN}" method="post">
    <table width='80%'>
    <tr>
    </tr>
    <tr>
      <td>
        kodeJadwal:
      </td>
      <td>
         <select name='rute'>{JURUSAN}</select>
      </td>
    </tr>
    <tr>
      <td>
      </td>
      <td>
         <input type="submit" value="List">
      </td>
    </tr>    
    </table>
    </form>
    <table width='80%'>
    <tr>
    <td valign="middle" align="center">
    <table width='80%' class="border">
    <tr>
       <th colspan="2">Keberangkatan {RUTE}</th>
     </tr>
    <tr>
       <th>No.Bangku</th><th>Nama</th>
     </tr>
     <!-- BEGIN ROW -->
     <tr>
       <td class="{ROW.odd}" width='10%'>{ROW.no}</td>
       <td class="{ROW.odd}" width="50%">{ROW.nama}</td>
     </tr>  
     <!-- END ROW -->
    </table> 
 </td>
    </tr>   
    </table>
 </td>
</tr>
</table>