<!DOCTYPE html>
<style type="text/css">
	/*body{
		background: url("{TPL}images/login/{IMAGE_BACKGROUND}");
	}*/
</style>
<body class="loginnya" id="loginnya">
<link rel="stylesheet" type="text/css" href="{ROOT}css/login.css" />
<div class="wrapper">
  <form class="login" name="main" action="{U_LOGIN}" method="POST">
    <p class="title">
    <span>
    	<img src="{ROOT}img/logo-haitrans.png" style="max-width: 180px;">
    </span><br> <img src="{ROOT}img/ic_logo_login.png" style="max-width: 100px;"></p>
    <input type="text" size="30" id="username" name="username" value=""  placeholder='Username' autofocus/>
    <i class="fa fa-user"></i>
    <input type="password" size="30" id="password" name="password" value="" placeholder='Password' />
    <i class="fa fa-key"></i>
    <input id="submit" name="submit" value ="Log In" type="submit" />
  </form>
  <footer>
  </footer>
  </p>
</div>

<!-- <table width='100%' height='85%'>
	<tr>
		<td align='center' valign='middle'>
			<form name="main" action="{U_LOGIN}" method="POST">
				<input type='hidden' name='menu_blokir' value='{MENU_BLOKIR}'>
				<table cellspacing=0 cellpadding=0 border=0>
					<tr>
						<td class='frm_login1' colspan='4'>&nbsp;</td>
					</tr>
					<tr>
						<td class='frm_login2'>&nbsp;</td>
						<td class='frm_login3'><img src="{TPL}images/login/{IMAGE_BACKGROUND}" /></td>
						<td class='frm_login4'>&nbsp;</td>
						<td class='frm_login5'>&nbsp;</td>
					</tr>
					<tr>
						<td class='frm_login6'>&nbsp;</td>
						<td class='frm_login7'>&nbsp;</td>
						<td class='frm_login8'>
							<input type="text" size="30" id="username" name="username" value=""  placeholder='username'/><br><br>
							<input type="password" size="30" id="password" name="password" value="" placeholder='password' /><br><br>
							<input id="submit" name="submit" value ="Log In" type="submit" />
						<td class='frm_login9'>&nbsp;</td>
					</tr>
					<tr>
						<td class='frm_login10' colspan='4'>&nbsp;</td>
					</tr>
				</table>
			</form>
		</td>
	</tr>
</table> -->



<script type="text/javascript">
	document.getElementById("loginnya").style.height = 0;
</script>
</body>