<div class="container menuwrapper">
	<div class="row">
	<!-- BEGIN menu_lap_reservasi_cso -->
	<div class="col-md-2">
	<div class="menuicon">
		<a href="{U_LAPORAN_CSO}">
			<svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 700 700" style="enable-background:new 0 0 700 700;" xml:space="preserve">
			<g id="CSO">
				<path d="M349.797,431.193c-5.047,0-10.235-0.374-15.498-1.114v12.01h30.977v-12.01
					C360.015,430.819,354.829,431.193,349.797,431.193z"/>
				<path d="M131.421,433.873v36.857c0,120.523,98.053,218.576,218.578,218.576s218.577-98.053,218.577-218.576v-36.857
					c0.001-17.544-11.299-32.697-28.119-37.708l-80.963-24.145c-2.961,3.582-6.082,7.105-9.334,10.536l18.522,5.528l-1.168,4.648
					c-16.002,63.687-54.409,217.871-65.425,273.941l-0.618,3.147l-3.118,0.754c-10.182,2.464-19.385,4.081-28.136,4.941l-8.387,0.825
					l26.426-62.4l-21.929-146.658h-32.656l-21.93,146.658l26.421,62.395l-8.381-0.82c-8.819-0.862-18.172-2.519-28.593-5.066
					l-3.107-0.76l-0.617-3.138c-11.427-58.095-52.934-224.181-65.382-273.7l-1.169-4.648l18.623-5.556
					c-3.229-3.404-6.352-6.927-9.343-10.54l-80.652,24.056C142.721,401.176,131.421,416.33,131.421,433.873z"/>
				<path d="M189.441,255.662c7.485,21.493,23.423,37.645,40.604,41.15l2.472,0.504l1.065,2.286
					c10.804,23.177,51.113,98.8,116.215,98.8c65.084,0,105.376-75.539,116.175-98.691l1.077-2.307l2.499-0.489
					c17.125-3.354,33.083-19.547,40.653-41.254c9.995-28.806,2.168-57.885-17.822-66.194l-3.642-1.514l0.618-3.895
					c4.672-29.433,1.18-59.158-1.317-74.257c-4.743-28.695-13.703-52.171-19.681-65.609l-6.252,26.244l-8.243,34.83l-1.631-35.755
					c-0.038-0.85-0.149-1.833-0.264-2.874c-0.056-0.499-0.111-0.999-0.161-1.495c-1.455-13.926-6.48-31.737-9.098-40.374
					c-16.682,6.125-37.973,6.841-46.987,6.841c-1.691,0-2.646-0.028-2.646-0.028l-14.536-0.43l11.716-8.61
					c4.314-3.17,11.403-6.253,18.023-8.722c-9.849-2.078-19.438-3.126-28.652-3.126c-31.32,0-52.892,11.957-65.472,21.988
					c-4.075,3.261-6.988,6.095-8.713,7.898l-7.402-6.74l10.935-12.611c-19.264,6.277-34.02,20.487-43.641,32.47
					c-8.581,10.685-13.343,19.717-13.391,19.807l-15.889,30.354l11.11-57.106c-10.79,12.236-19.313,28.269-25.417,47.861
					c-9.882,31.78-11.744,71.55-11.286,90.038l0.085,3.438l-3.178,1.313c-9.705,4.012-17.138,13.36-20.393,25.647
					C183.731,227.37,184.607,241.795,189.441,255.662z M199.313,218.311c2.411-8.999,7.312-15.187,13.809-17.444
					c0.939-0.322,2.081-0.526,3.957-0.709c3.138-0.304,5.614-2.9,5.763-6.041c0.281-6.02,1.028-11.355,2.284-16.308
					c9.2-36.312,30.316-54.919,46.411-64.134c17.484-10.011,32.75-11.361,33.392-11.414l8.262-0.678l-3.245,7.628
					c-2.87,6.745-6.197,12.486-9.56,17.296c34.661-17.999,46.687-34.311,46.828-34.507l4.062-5.65l4.078,5.629
					c36.827,51.126,88.274,73.013,115.663,81.51l2.96,0.918l0.498,3.058c0.184,1.126,0.377,2.248,0.571,3.37
					c0.732,4.242,1.489,8.628,1.713,13.278c0.149,3.144,2.625,5.741,5.759,6.044c1.869,0.182,3.004,0.382,3.925,0.689
					c12.642,4.406,20.324,25.785,11.709,50.62c-7.554,21.645-23.118,33.067-34.747,33.289c-4.645,0.622-5.712,2.228-6.402,3.823
					c-20.459,46.93-59.361,97.062-107.203,97.062s-86.743-50.132-107.196-97.049c-0.964-2.226-3.625-3.833-6.33-3.833
					c-11.529,0-27.177-11.434-34.779-33.288C197.547,240.117,196.751,228.03,199.313,218.311z"/>
			</g>
			</svg>
			CSO
		</a>
	</div>
	<div style="height: {menu_lap_reservasi_cso.br};"></div>
	</div>
	<!-- END menu_lap_reservasi_cso -->
	
	<!-- BEGIN menu_lap_reservasi_cabang -->
	<div class="col-md-2">
	<div class="menuicon">
		<a href="{U_LAPORAN_CABANG}">
			<svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 700 700" style="enable-background:new 0 0 700 700;" xml:space="preserve">
				<g id="Cabang">
					<path d="M649.095,222.639c22.577,0,40.945-18.371,40.945-40.952c0-22.545-18.369-40.891-40.948-40.897
						c-22.593,0-40.977,18.38-40.977,40.973c0,5.794,1.557,11.653,4.76,17.912l3.315,6.479L498.849,323.54l-6.423-3.154
						c-6.667-3.274-12.425-4.799-18.121-4.799c-17.223,0-32.215,10.744-38.193,27.373l-2.379,6.616H272.05l-2.384-6.604
						c-6.005-16.635-21.007-27.384-38.219-27.384c-4.373,0-8.821,0.933-13.999,2.937l-6.074,2.351L82.306,191.845l4.023-6.698
						c4.38-7.291,6.419-13.76,6.419-20.361c0-22.589-18.377-40.966-40.966-40.966c-22.585,0-40.959,18.377-40.959,40.966
						c0,22.588,18.371,40.966,40.952,40.966c1.481,0,3.267-0.502,5.334-1.084c1.21-0.341,2.462-0.693,3.844-1.005l5.376-1.215
						l130.995,130.95l-2.904,6.325c-2.633,5.734-3.913,11.242-3.913,16.839c0,6.871,2.354,13.866,7.197,21.385l4.369,6.783
						L80.117,506.64l-6.758-4.271c-7.791-4.923-14.609-7.216-21.458-7.216c-22.589,0-40.966,18.384-40.966,40.98
						c0,22.558,18.412,40.91,41.042,40.91c22.588,0,40.966-18.368,40.966-40.945c0-0.935-0.368-2.252-0.793-3.778
						c-0.305-1.093-0.651-2.333-0.936-3.691l-1.107-5.292l128.683-128.772l5.343,1.168c1.265,0.276,2.433,0.598,3.464,0.881
						c1.608,0.441,2.997,0.822,3.96,0.822c15.608,0,29.668-9.004,36.691-23.497l2.733-5.639h164.03l2.72,5.684
						c6.923,14.466,20.937,23.452,36.573,23.452c22.596,0,40.979-18.367,40.979-40.944c0-3.897-1.195-7.987-2.639-12.543l-1.836-5.794
						l120.129-120.105l5.878,1.981C641.596,221.641,645.316,222.639,649.095,222.639z"/>
				</g>
			</svg>
			Cabang
		</a>
	</div>
	<div style="height: {menu_lap_reservasi_cabang.br};"></div>
	</div>
	<!-- END menu_lap_reservasi_cabang -->
	
	<!-- BEGIN menu_lap_reservasi_jurusan -->
	<div class="col-md-2">
	<div class="menuicon">
		<a href="{U_LAPORAN_JURUSAN}">
			<svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 700 700" style="enable-background:new 0 0 700 700;" xml:space="preserve">
				<g id="Jurusan">
	<g>
		<path d="M620.502,482.737l-0.179-0.105l-28.665-17.464l25.215-38.767c2.676-4.965,2.035-12.158-3.221-15.084
			c-1.916-1.066-4.095-1.63-6.301-1.63c-3.925,0-7.263,1.784-8.927,4.773l-0.153,0.258l-25.093,39.559l-29.805-17.561
			c-1.402-1.06-3.123-1.62-4.979-1.62c-3.576,0-7.015,2.025-8.759,5.16c-2.829,5.08-1.323,11.574,3.355,14.479l28.627,17.442
			l-25.215,38.766c-1.431,2.65-1.902,5.805-1.293,8.683c0.601,2.843,2.204,5.116,4.511,6.4l0.327,0.198
			c1.669,1.096,4.192,1.687,5.718,1.687c3.712,0,7.136-1.957,9.393-5.368l25.038-39.475l29.519,17.361
			c1.681,1.103,3.354,1.686,4.84,1.686c3.229,0,7.443-1.499,9.062-4.789l0.222-0.449l0.302-0.398
			c1.452-1.921,1.952-4.395,1.41-6.968C624.842,486.616,623.037,484.147,620.502,482.737z"/>
		<path d="M684.124,38.811c-1.571,0-2.571,0-3.575,0.176L463.986,123.51L256.467,43.048c-1.249-0.146-2.166-0.552-3.043-1.212
			c-0.272-0.059-0.551-0.12-0.835-0.182c-4.006-0.876-8.993-1.966-15.681-1.966h-1.671c-8.643,0-16.501,1.526-24.729,4.802
			l-0.936,0.373h-0.569c-0.142,0.046-0.292,0.101-0.442,0.152c-0.614,0.211-1.327,0.456-2.116,0.6L19.628,118.468
			c-19.297,7.72-23.141,24.622-22.471,32.479l0.019,0.446v487.581c0,8.861,3.363,14.086,6.184,16.907
			c3.324,3.324,8.037,5.308,12.607,5.308c2.864,0,6.334-0.791,8.841-2.016l0.392-0.171l210.823-82.434l1.907,0.741l199.415,77.347
			l5.364,1.825c2.242,0.913,8.8,3.036,21.268,3.036h0.875c9.25,0,17.176-1.448,26.493-4.839l191.821-74.653v-0.28l3.022-1.418
			c10.785-5.06,16.725-14.964,16.725-27.888V60.35C702.217,45.553,692.696,38.811,684.124,38.811z M224.247,559.139L17.642,638.828
			V151.392c0-4.392,2.5-10.322,9.529-12.669L213.71,66.203h0.985c0.027-0.01,0.267-0.092,0.441-0.152
			c0.838-0.288,2.104-0.723,3.858-0.723h5.253V559.139z M452.909,638.85l-207.401-80.597v-497.1l207.401,80.596V638.85z
			 M675.186,559.746L486.888,633.36l-12.715,4.991v-7.18v-3.001V141.753l206.526-80.614v484.843l0.079,5.253
			C680.777,556.95,677.712,559.169,675.186,559.746z"/>
	</g>
</g>
			</svg>
			Jurusan
		</a>
	</div>
	<div style="height: {menu_lap_reservasi_jurusan.br};"></div>
	</div>
	<!-- END menu_lap_reservasi_jurusan -->
	
	<!-- BEGIN menu_lap_reservasi_jam -->
	<div class="col-md-2">
	<div class="menuicon">
		<a href="{U_LAPORAN_JADWAL}">
			<svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 700 700" style="enable-background:new 0 0 700 700;" xml:space="preserve">
				<g id="Berdasarkan_Jam">
	<path d="M478.424,47.325c-40.956-17.467-84.143-26.324-128.36-26.324c-44.208,0-87.263,8.854-127.968,26.317
		c-81.53,34.969-140.511,93.827-175.308,174.938C29.57,262.382,20.84,305.436,20.84,350.223c0,45.03,8.73,88.212,25.947,128.346
		c34.919,81.397,93.901,140.38,175.308,175.308c41.27,17.703,83.129,26.309,127.968,26.309c44.215,0,87.399-8.854,128.354-26.315
		c81.58-34.794,140.682-93.773,175.661-175.301c17.462-40.712,26.316-83.895,26.316-128.346c0-44.842-8.608-86.7-26.317-127.967
		C619.238,141.031,560.14,82.176,478.424,47.325z M613.609,503.008c-26.949,46.216-64.34,83.481-111.133,110.762
		c-46.484,27.105-97.761,40.85-152.405,40.85c-41.333,0-81.054-8.15-118.06-24.226c-37.622-16.334-70.167-38.081-96.731-64.638
		c-26.699-26.698-48.45-59.379-64.651-97.133c-15.821-36.842-23.843-76.678-23.843-118.399c0-54.677,13.621-105.827,40.483-152.028
		c26.857-46.195,64.121-83.461,110.754-110.763c46.31-27.115,97.463-40.864,152.04-40.864c54.635,0,105.911,13.746,152.406,40.857
		c46.638,27.191,84.026,64.454,111.125,110.75c27.109,46.307,40.855,97.463,40.855,152.046
		C654.45,405.112,640.709,456.517,613.609,503.008z"/>
	<path d="M341.358,364.478l110.275,110.268c2.121,2.121,5.364,3.338,8.897,3.338c3.532,0,6.772-1.216,8.892-3.336
		c5.244-5.244,5.236-12.89-0.018-18.18L363.956,350.364V156.228c0-7.13-6.362-13.153-13.894-13.153
		c-6.81,0-12.784,6.146-12.784,13.153v192.869c0.336,1.011,0.74,2.441,0.74,4.078l-0.046,0.83
		C337.488,358.351,338.563,361.679,341.358,364.478z"/>
</g>	
			</svg>
			Berdasarkan<br>Jam
		</a>
	</div>
	<div style="height: {menu_lap_reservasi_jam.br};"></div>
	</div>
	<!-- END menu_lap_reservasi_jam -->
	
	<!-- BEGIN menu_lap_reservasi_seluruh -->
	<div class="col-md-2">
	<div class="menuicon">
		<a href="{U_LAPORAN_OMZET}">
			<svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 700 700" style="enable-background:new 0 0 700 700;" xml:space="preserve">
				<g id="Keseluruhan">
					<path d="M559.219,286.543l109.807-69.144c3.354-2.111,5.383-5.884,5.293-9.847c-0.09-3.962-2.285-7.64-5.73-9.597L428.383,61.418
						c-3.564-2.028-8.169-1.922-11.642,0.262L30.974,304.599c-3.354,2.111-5.382,5.884-5.292,9.846c0.089,3.962,2.285,7.639,5.73,9.598
						L271.619,460.58c3.563,2.028,8.168,1.925,11.638-0.262l109.807-69.146c2.563-1.612,4.343-4.126,5.014-7.078s0.152-5.988-1.461-8.55
						c-2.088-3.318-5.678-5.298-9.604-5.298c-2.129,0-4.213,0.604-6.024,1.745l-104.068,65.53L59.072,313.692l132.548-83.466
						l228.573,129.926v171.408c0,4.126,2.244,7.929,5.856,9.923c3.544,1.959,8.09,1.827,11.516-0.331l77.155-48.586
						c3.315-2.087,5.295-5.672,5.295-9.59v-177.89c-0.008-0.088-0.013-0.171-0.016-0.255c-0.008-0.437-0.034-0.817-0.077-1.183
						l-0.022-0.207c-0.076-0.552-0.16-0.979-0.262-1.361l-0.024-0.088c-0.105-0.386-0.246-0.793-0.431-1.246
						c-0.039-0.099-0.074-0.174-0.108-0.251l-0.043-0.097c-0.135-0.305-0.282-0.597-0.44-0.885l-0.057-0.104
						c-0.049-0.088-0.096-0.177-0.148-0.263c-0.064-0.109-0.107-0.188-0.149-0.265c-0.156-0.243-0.332-0.479-0.508-0.713
						c-0.044-0.058-0.094-0.128-0.143-0.202c-0.249-0.316-0.531-0.633-0.859-0.964l-0.161-0.149c-0.305-0.293-0.598-0.548-0.902-0.788
						l-0.194-0.151c-0.487-0.361-0.897-0.631-1.286-0.847L290.535,167.942l132.546-83.464L640.93,208.305l-93.787,59.058
						c-2.563,1.613-4.343,4.126-5.014,7.078c-0.671,2.952-0.152,5.988,1.462,8.55c2.088,3.317,5.677,5.297,9.603,5.297
						C555.322,288.288,557.406,287.685,559.219,286.543z M486.62,305.472l-23.416,14.746c-2.563,1.613-4.343,4.126-5.014,7.079
						c-0.671,2.952-0.152,5.988,1.461,8.55c2.087,3.317,5.678,5.297,9.605,5.297c2.129,0,4.211-0.604,6.023-1.745l22.066-13.893v151.217
						l-54.487,34.31V353.56c0-4.067-2.196-7.843-5.733-9.852L213.38,216.526l55.394-34.882L486.62,305.472z"/>
					<path d="M559.221,345.876l109.807-69.144c2.563-1.613,4.343-4.126,5.014-7.079s0.152-5.988-1.462-8.55
						c-2.088-3.318-5.678-5.298-9.604-5.298c-2.129,0-4.212,0.604-6.024,1.746l-109.807,69.144c-2.563,1.613-4.343,4.126-5.014,7.079
						s-0.152,5.989,1.461,8.55c2.087,3.317,5.678,5.297,9.605,5.297C555.326,347.621,557.408,347.018,559.221,345.876z"/>
					<path d="M398.075,443.429c0.671-2.952,0.152-5.988-1.461-8.55c-2.087-3.318-5.678-5.299-9.604-5.299
						c-2.128,0-4.212,0.604-6.024,1.745l-104.067,65.53L42.612,363.672c-1.707-0.971-3.639-1.483-5.587-1.483
						c-4.076,0-7.856,2.197-9.865,5.734c-1.497,2.633-1.878,5.69-1.075,8.608c0.803,2.919,2.694,5.35,5.326,6.846l240.207,136.537
						c3.564,2.027,8.166,1.924,11.638-0.262l109.806-69.145C395.624,448.896,397.404,446.381,398.075,443.429z"/>
					<path d="M559.221,405.211l109.807-69.145c2.563-1.613,4.343-4.126,5.014-7.078c0.671-2.952,0.152-5.989-1.462-8.55
						c-2.087-3.318-5.677-5.298-9.603-5.298c-2.129,0-4.212,0.604-6.025,1.746l-109.807,69.144c-2.563,1.612-4.343,4.127-5.014,7.079
						s-0.152,5.988,1.461,8.55c2.087,3.317,5.678,5.297,9.605,5.297C555.326,406.955,557.408,406.352,559.221,405.211z"/>
					<path d="M398.075,502.764c0.671-2.952,0.152-5.988-1.461-8.55c-2.087-3.319-5.677-5.3-9.603-5.3c-2.129,0-4.213,0.604-6.026,1.745
						l-104.067,65.53L42.612,423.007c-1.707-0.971-3.639-1.483-5.587-1.483c-4.076,0-7.856,2.197-9.865,5.734
						c-1.497,2.633-1.878,5.689-1.075,8.607c0.803,2.919,2.695,5.351,5.327,6.847l240.206,136.537c3.563,2.027,8.167,1.924,11.638-0.262
						l109.806-69.146C395.624,508.229,397.404,505.715,398.075,502.764z"/>
					<path d="M559.222,464.545L669.027,395.4c2.563-1.612,4.343-4.126,5.014-7.078s0.152-5.988-1.462-8.55
						c-2.087-3.317-5.677-5.298-9.603-5.298c-2.129,0-4.213,0.604-6.025,1.746l-109.807,69.144c-2.563,1.612-4.343,4.127-5.014,7.078
						c-0.671,2.952-0.152,5.988,1.461,8.55c2.087,3.317,5.678,5.297,9.605,5.297C555.325,466.289,557.409,465.686,559.222,464.545z"/>
					<path d="M398.075,562.098c0.671-2.952,0.152-5.988-1.461-8.55c-2.088-3.319-5.678-5.3-9.604-5.3c-2.128,0-4.212,0.604-6.024,1.745
						l-104.067,65.53L42.612,482.341c-1.707-0.971-3.639-1.483-5.587-1.483c-4.076,0-7.856,2.197-9.865,5.734
						c-1.497,2.633-1.878,5.689-1.075,8.608c0.803,2.919,2.694,5.35,5.326,6.846l240.207,136.537c3.563,2.028,8.167,1.924,11.638-0.262
						l109.807-69.146C395.625,567.563,397.405,565.05,398.075,562.098z"/>
				</g>
			</svg>
			Keseluruhan
		</a>
	</div>
	<div style="height: {menu_lap_reservasi_seluruh.br};"></div>
	</div>
	<!-- END menu_lap_reservasi_seluruh -->
	
	<!-- BEGIN menu_lap_reservasi_kendaraan -->
	<div class="col-md-2">
	<div class="menuicon">
		<a href="{U_LAPORAN_KENDARAAN}">
			<svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 700 700" style="enable-background:new 0 0 700 700;" xml:space="preserve">
				<g id="Kendaraan">
					<g>
						<path d="M569.002,276.43c-12.525-34.504-31.063-78.002-48.242-89.271c-32.699-21.534-96.626-34.391-171.006-34.391
							c-74.379,0-138.316,12.856-171.033,34.391c-17.219,11.341-35.72,54.808-48.208,89.275l-3.972,10.962h446.442L569.002,276.43z
							 M149.961,271.044c16.924-44.404,30.451-65.415,37.754-70.225c29.703-19.551,91.792-31.696,162.04-31.696
							c70.246,0,132.326,12.145,162.024,31.703c7.281,4.777,20.805,25.775,37.771,70.218H149.961z"/>
						<path d="M156.393,358.39c-32.946,0-59.749,26.795-59.749,59.731c0,32.946,26.803,59.749,59.749,59.749
							s59.749-26.804,59.749-59.749C216.142,385.185,189.339,358.39,156.393,358.39z M156.393,461.517
							c-23.928,0-43.395-19.467-43.395-43.396c0-23.918,19.467-43.378,43.395-43.378s43.396,19.459,43.396,43.378
							C199.789,442.05,180.321,461.517,156.393,461.517z"/>
						<path d="M543.805,358.39c-32.946,0-59.749,26.795-59.749,59.731c0,32.946,26.804,59.749,59.749,59.749
							c32.946,0,59.749-26.804,59.749-59.749C603.555,385.185,576.751,358.39,543.805,358.39z M543.805,461.517
							c-23.929,0-43.396-19.467-43.396-43.396c0-23.918,19.467-43.378,43.396-43.378c23.929,0,43.396,19.459,43.396,43.378
							C587.201,442.05,567.734,461.517,543.805,461.517z"/>
						<path d="M693.434,253.064c-4.92-5.999-12.161-9.44-19.868-9.44h-60.808c-20.372-52.339-41.604-86.052-63.148-100.243
							c-40.717-26.786-115.421-42.778-199.834-42.778c-84.414,0-159.117,15.992-199.84,42.781
							c-21.373,14.084-42.605,47.795-63.146,100.24H25.968c-7.759,0-15.011,3.453-19.87,9.444c-4.93,6.019-6.84,13.833-5.247,21.409
							l9.839,47.675c2.447,11.851,13.011,20.452,25.117,20.452h3.345c-12.987,20.094-20.061,44.018-20.172,68.915
							c-0.128,35.565,13.091,67.789,37.277,91.039v63.062c0,18.963,15.428,34.392,34.391,34.392h61.271
							c18.963,0,34.391-15.428,34.391-34.392v-18.632h326.896v18.632c0,18.963,15.428,34.392,34.392,34.392h61.272
							c18.963,0,34.391-15.428,34.391-34.392v-61.869c23.907-23.233,37.122-54.97,37.294-89.794c0.096-25.941-7.318-50.728-21.13-71.388
							h4.302c12.162,0,22.728-8.624,25.117-20.467l9.871-47.726C700.211,266.811,698.296,259.054,693.434,253.064z M682.686,271.133
							l-9.864,47.697c-0.863,4.28-4.688,7.386-9.095,7.386h-39.338l12.27,13.644c17.864,19.866,27.646,46.159,27.542,74.027
							c-0.155,31.471-12.458,59.992-34.64,80.307l-2.654,2.432v68.994c0,9.946-8.092,18.038-18.037,18.038h-61.272
							c-9.946,0-18.038-8.092-18.038-18.038v-34.986H169.957v34.986c0,9.946-8.092,18.038-18.037,18.038H90.648
							c-9.946,0-18.037-8.092-18.037-18.038v-70.267l-2.608-2.426c-0.392-0.364-0.752-0.643-1.026-0.849
							c-21.811-20.21-33.757-48.786-33.643-80.492c0.119-26.852,9.47-52.352,26.33-71.802l11.731-13.533H35.807
							c-4.388,0-8.215-3.114-9.101-7.405l-9.845-47.704c-0.575-2.734,0.114-5.545,1.913-7.742c1.764-2.175,4.386-3.422,7.194-3.422
							h72.058l2.009-5.261c19.644-51.453,40.011-85.23,58.895-97.674c38.155-25.101,109.499-40.086,190.846-40.086
							c81.347,0,152.69,14.986,190.841,40.083c19.052,12.549,39.411,46.32,58.876,97.659l2.001,5.278h72.071
							c2.788,0,5.421,1.26,7.196,3.425C682.527,265.576,683.223,268.419,682.686,271.133z"/>
					</g>
				</g>
			</svg>
			Kendaraan
		</a>
	</div>
	<div style="height: {menu_lap_reservasi_kendaraan.br};"></div>
	</div>
	<!-- END menu_lap_reservasi_kendaraan -->
	
	<!-- BEGIN menu_lap_reservasi_sopir -->
	<div class="col-md-2">
	<div class="menuicon">
		<a href="{U_LAPORAN_SOPIR}">
			<svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 700 700" style="enable-background:new 0 0 700 700;" xml:space="preserve">
				<g id="Sopir">
				<path d="M330.063-0.626c-53.62,0-97.242,43.624-97.242,97.246c0,53.619,43.623,97.242,97.242,97.244
					c53.618,0,97.24-43.624,97.24-97.244C427.303,42.998,383.681-0.626,330.063-0.626z M330.065,176.631
					c-44.117,0-80.01-35.892-80.01-80.01c0-44.119,35.892-80.012,80.01-80.012c44.115,0,80.006,35.893,80.006,80.012
					C410.07,140.738,374.18,176.631,330.065,176.631z"/>
				<path d="M451.521,289.77l-7.857-4.371l4.666-7.685c6.358-10.473,12.419-21.162,18.014-31.771c1.075-2.037,1.292-4.369,0.612-6.568
					c-0.68-2.199-2.175-4.002-4.211-5.076c-1.257-0.664-2.607-1-4.01-1c-3.212,0-6.137,1.762-7.633,4.599
					c-34.928,66.2-84.866,128.785-148.428,186.015c-63.18,56.889-136.937,105.902-219.223,145.678l-20.239,9.784l60.215-148.411
					c40.811-100.563,89.805-143.469,163.825-143.469h58.066c4.752,0,8.618-3.866,8.618-8.617c0-4.752-3.866-8.617-8.618-8.617h-58.071
					c-45.305,0-84.236,16.158-115.713,48.024c-24.293,24.595-44.654,58.342-64.076,106.201l-64.55,159.093
					c-0.14,0.345-0.258,0.701-0.352,1.057l-1.082,4.107l-3.906,1.659c-2.397,1.017-4.806,2.028-7.21,3.028
					c-4.387,1.825-6.473,6.879-4.649,11.267c1.341,3.227,4.467,5.312,7.963,5.312c1.128,0,2.239-0.224,3.302-0.665
					c95.998-39.911,182.082-91.618,255.858-153.683c54.538-45.881,100.619-96.09,136.963-149.231l4.381-6.403l6.843,3.654
					c24.356,13.012,45.295,33.801,64.013,63.554c1.587,2.525,4.32,4.031,7.31,4.031c1.613,0,3.195-0.458,4.573-1.324
					c4.02-2.53,5.233-7.861,2.704-11.886C499.82,326.583,477.544,304.246,451.521,289.77z"/>
				<path d="M277.99,582.912c-2.271,0.362-4.267,1.588-5.619,3.451c-1.351,1.863-1.896,4.142-1.534,6.415
					c6.233,39.141,23.756,75.46,50.677,105.032c1.628,1.788,3.953,2.814,6.377,2.814c2.146,0,4.205-0.798,5.798-2.247
					c3.512-3.198,3.769-8.659,0.57-12.173c-24.653-27.081-40.698-60.325-46.401-96.138c-0.67-4.21-4.239-7.264-8.486-7.264
					C278.91,582.803,278.446,582.839,277.99,582.912z"/>
				<path d="M657.829,531.685c0.687,4.186,4.254,7.225,8.483,7.225c0.468,0,0.944-0.039,1.414-0.116
					c2.272-0.373,4.264-1.608,5.607-3.477c1.342-1.869,1.877-4.15,1.506-6.421c-6.405-39.062-23.87-75.375-50.506-105.011
					c-1.633-1.814-3.972-2.856-6.418-2.856c-2.128,0-4.17,0.783-5.752,2.206c-1.713,1.539-2.723,3.653-2.846,5.951
					c-0.122,2.298,0.658,4.507,2.196,6.22C635.945,462.591,651.96,495.884,657.829,531.685z"/>
				<path d="M473.007,425.216c-21.673,0-43.322,5.346-62.608,15.46c-66.073,34.654-91.639,116.605-56.99,182.683
					c23.44,44.688,69.451,72.449,120.081,72.449c21.668,0,43.315-5.346,62.603-15.46c66.074-34.65,91.642-116.6,56.993-182.681
					C569.649,452.977,523.637,425.216,473.007,425.216z M361.323,598.168c-8.869-26.316-8.09-55.128,2.192-81.131
					c10.395-26.287,29.889-47.987,54.89-61.099c16.832-8.827,35.732-13.492,54.656-13.492c37.219,0,72.66,17.72,94.803,47.401
					l6.065,8.13l-63.608,33.36l-4.496-4.359c-8.658-8.392-20.566-13.204-32.673-13.204c-7.479,0-14.953,1.846-21.615,5.339
					c-11.057,5.799-19.195,15.558-22.915,27.48c-2.22,7.12-2.727,14.402-1.507,21.646l1.042,6.19l-63.594,33.349L361.323,598.168z
					 M486.966,586.647c-4.214,2.208-8.943,3.375-13.679,3.375c-11.031,0-21.061-6.054-26.174-15.801
					c-3.661-6.981-4.385-14.969-2.038-22.495c2.344-7.524,7.483-13.686,14.469-17.35c4.21-2.205,8.936-3.371,13.669-3.371
					c11.03,0,21.059,6.055,26.173,15.803C506.942,561.215,501.37,579.087,486.966,586.647z M582.985,603.987
					c-10.396,26.288-29.89,47.988-54.893,61.1c-16.833,8.827-35.733,13.492-54.656,13.492c-37.221,0-72.661-17.722-94.805-47.406
					l-6.064-8.13l63.61-33.358l4.497,4.36c8.656,8.392,20.563,13.204,32.671,13.204c7.483,0,14.959-1.847,21.621-5.34
					c17.923-9.402,27.725-29.145,24.39-49.129l-1.033-6.179l63.613-33.361l3.239,9.612
					C594.046,549.168,593.269,577.982,582.985,603.987z"/>
			</g>
			</svg>
			Sopir
		</a>
	</div>
	<div style="height: {menu_lap_reservasi_sopir.br};"></div>
	</div>
	<!-- END menu_lap_reservasi_sopir -->
	
	<!-- BEGIN menu_lap_voucher -->
	<div class="col-md-2">
	<div class="menuicon">
		<a href="{U_LAPORAN_VOUCHER}">
			<svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 700 700" style="enable-background:new 0 0 700 700;" xml:space="preserve">
				<g id="Voucher">
					<path d="M5.641,430.258h548.848c0.341,0,0.641-0.3,0.641-0.643v-3.051c0-1.848-1.242-4.979-2.507-6.32
						c-0.734-0.78-17.938-19.272-17.938-38.232c0-18.962,17.204-37.455,17.937-38.232c1.243-1.32,2.509-4.511,2.509-6.322v-7.151
						c0-1.846-1.242-4.978-2.509-6.323c-0.732-0.778-17.937-19.271-17.937-38.232s17.204-37.453,17.937-38.23
						c1.267-1.345,2.509-4.477,2.509-6.324v-7.149c0-1.846-1.242-4.978-2.509-6.323c-0.732-0.778-17.937-19.269-17.937-38.23
						s17.204-37.454,17.937-38.232c1.244-1.319,2.509-4.508,2.509-6.321v-5.873c0-0.341-0.3-0.641-0.641-0.641H5.641
						c-0.341,0-0.641,0.299-0.641,0.641v5.873c0,1.814,1.264,5.002,2.504,6.317c0.735,0.781,17.939,19.274,17.939,38.235
						c0,18.961-17.204,37.452-17.936,38.23C6.265,229.043,5,232.233,5,234.047v7.149c0,1.847,1.242,4.98,2.507,6.325
						c0.732,0.777,17.936,19.271,17.936,38.23c0,18.961-17.204,37.454-17.936,38.232C6.264,325.301,5,328.491,5,330.306v7.151
						c0,1.813,1.265,5.003,2.506,6.322c0.733,0.778,17.937,19.271,17.937,38.233c0,18.96-17.204,37.452-17.936,38.229
						C6.264,421.561,5,424.75,5,426.564v3.051C5,429.958,5.299,430.258,5.641,430.258z M50.021,170.097
						c0-5.867,4.774-10.641,10.643-10.641h438.801c5.867,0,10.641,4.773,10.641,10.641l0.002,228.489
						c0,5.867-4.773,10.641-10.641,10.641H60.663c-5.868,0-10.643-4.773-10.643-10.641V170.097z"/>
					<path d="M694.117,261.865l0.874-6.17c0.046-0.329-0.079-0.577-0.192-0.727c-0.112-0.15-0.314-0.338-0.639-0.384l-89.922-12.723
						c-0.858,5.789-2.632,15.436-5.66,22.261l34.614,4.964c5.986,0.848,10.173,6.416,9.325,12.411l-33.939,239.881
						c-0.764,5.385-5.437,9.445-10.872,9.445c-0.514,0-1.032-0.037-1.543-0.109l-396.652-56.122c-0.03-0.006-3.414-0.585-6.544-0.585
						H73.107c-0.154,1.894,0.635,5.115,1.603,6.059l576.01,81.498c0.047,0.008,0.137,0.032,0.137,0.01c0.42,0,0.899-0.315,0.974-0.844
						l0.455-3.207c0.282-1.995-0.583-5.572-1.747-7.221c-0.651-0.924-15.897-22.801-13.1-42.589c2.8-19.789,23.52-36.574,24.4-37.279
						c1.574-1.263,3.398-4.46,3.68-6.454l1.064-7.512c0.282-1.997-0.583-5.576-1.746-7.224c-0.651-0.923-15.9-22.8-13.104-42.587
						c2.803-19.791,23.521-36.576,24.402-37.281c1.578-1.263,3.402-4.46,3.684-6.456l1.064-7.511c0.282-1.997-0.582-5.576-1.746-7.223
						c-0.651-0.923-15.901-22.799-13.101-42.586c2.799-19.791,23.519-36.576,24.399-37.281
						C692.012,267.058,693.836,263.86,694.117,261.865z"/>
				</g>
			</svg>
			Voucher
		</a>
	</div>
	<div style="height: {menu_lap_voucher.br};"></div>
	</div>
	<!-- END menu_lap_voucher -->
	</div>
</div>
