<div class="container menuwrapper">
	<div class="row">
		<div class="col-md-2">
		<div class="menuicon">
			<a href="{U_LAPORAN_TIKETUX}">
				<img src="{TPL}images/icon_laporan_tiketux.png" /><br/>
				Penjualan Tiketux
			</a>
		</div>
		<div style="height: {menu_reservasi.br};"></div>
		</div>
		
		<div class="col-md-2">
		<div class="menuicon">
			<a href="{U_DEPOSIT_TIKETUX}">
				<img src="{TPL}images/icon_laporan_tiketux.png" /><br />
				Top Up Deposit
			</a>
		</div>
		<div style="height: {menu_penjadwalan.br};"></div>
		</div>
		
		<div class="col-md-2">
		<div class="menuicon">
			<a href="{U_LAPORAN_TRX_DEPOSIT}">
				<img src="{TPL}images/icon_laporan_tiketux.png" /><br />
				Laporan<br>Transaksi Deposit
			</a>
		</div>
		<div style="height: {menu_pengumuman.br};"></div>
		</div>
	</div>
</div>