<!-- BEGIN if_login -->
</div>
<!-- END if_login -->
<p class='gensmall' align='center'>
<br />
<table width="100%">
	<tr>
		<td valign='middle' align='center'>
			<table>
				<tr><td valign='middle' align='center'><font size=2>
					Sistem oleh: TIKETUX <br /> <!-- (PT. Trans Berjaya Khatulistiwa) --> &copy; 2016
				</font></td></tr>
			</table>
	</tr>
</table>
</p>
</td></tr>
</table>
<br>
</body>
</html>
